<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/css.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="information">
                <div class="contact">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-pinterest"></i>
                </div>

                <div class="menu-header">
                    <i class="fa fa-user-circle"></i>
                    <a href="#"><span>My Account</span></a>
                    <i class="fa fa-credit-card"></i>
                    <a href="#"><span>Checkout</span></a>
                    <i class="fa fa-sign-in"></i>
                    <a href="#"><span>Sign in</span></a>
                </div>
            </div>
        </div>
        <div class="logo-phone" >
            <div class="logo">
                <img src="../assets/img/logo/logo-2.png" alt="">
            </div>

            <div class="phone">
                <div class="phone-icon">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="my-phone">
                    <p>PHONE:</p>
                    <span>0123456789</span>
                </div>
            </div>
            <div class="search">
                <input type="text" placeholder="Search Our Catalog">
                <button><i class="fa fa-search"></i></button>
            </div>
            <div class="cart">
                <button><i class="fa fa-cart-plus	"></i></button>
            </div>
        </div>
        <div class="menu" style="background-color: #4d4949; ">
            <ul>
                <li><a style="color: #fff;" href="#">HOME <i class="fa fa-angle-down "></i></a></li>
                <li><a style="color: #fff;" href="#">PAGE <i class="fa fa-angle-down "></i></a></li>
                <li><a style="color: #fff;" href="#">SHOP <i class="fa fa-angle-down "></i></a></li>
                <li><a style="color: #fff;" href="#">BLOG <i class="fa fa-angle-down "></i></a></li>
                <li><a style="color: #fff;" href="#">CONTACT US </a></li>
            </ul>
        </div>
        <div class="main-detail">
            <div class="detail-banner">
                <p>BLOg DETAILS</p>
                <a href="./trang-chu.html"><i class="fa fa-home"></i></a>
                <a href="./shop.html">Bản Tin</a>
            </div>
        </div>
    </header>
    <main>
        <div class="container-shared">
            <div class="news-detail-content">
                <img src="../assets/img/blog/blog-1.jpg" alt="">
                <div class="news-detail-title">
                    <h4>CELEBRITY DAUGHTER OPENS UP ABOUT HAVING                    </h4>
                </div>
                <div class="news-detail-time">
                    <span>25/03/2021</span> <span>| Pullman</span>
                </div>
                <div class="news-detail-description">
                    <span>
                        chi tiết bản tin ở đây
                    </span>
                </div>
                <div class="tag">
                    <h4>tag :</h4>
                    <a href="#">Necklaces</a> ,
                    <a href="#">Earrings</a>
                </div>
                <div class="share">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-pinterest"></i></a>
                    <a href=""><i class="fa fa-google"></i></a>
                </div>
            </div>
            <div class="news-detail-comment">
                <div class="number-comment">
                    <h4>03 comment</h4>
                </div>
                <div class="main-comment">
                    <ul>
                        <li> 
                            <div class="comment-logo">
                                <img src="../assets/img/blog/comment-icon.png" alt="">
                            </div>
                            <div class="comment-body">
                                <span class="reply-btn"><a href="#">Reply</a></span>
                                <h5 class="comment-user">Admin</h5>
                                <div class="comment-time">
                                    15 Dec, 2021 at 9:30pm
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim maiores
                                    adipisci optio ex, laboriosam facilis non pariatur itaque illo sunt?</p>
                            </div>
                        </li>
                        <li class="rep-comment">
                            <div class="comment-logo">
                                <img src="../assets/img/blog/comment-icon.png" alt="">
                            </div>
                            <div class="comment-body">
                                <span class="reply-btn"><a href="#">Reply</a></span>
                                <h5 class="comment-user">Admin</h5>
                                <div class="comment-time">
                                    15 Dec, 2021 at 9:30pm
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim maiores
                                    adipisci optio ex, laboriosam facilis non pariatur itaque illo sunt?</p>
                            </div>
                        </li>
                        <li> 
                            <div class="comment-logo">
                                <img src="../assets/img/blog/comment-icon.png" alt="">
                            </div>
                            <div class="comment-body">
                                <span class="reply-btn"><a href="#">Reply</a></span>
                                <h5 class="comment-user">Admin</h5>
                                <div class="comment-time">
                                    15 Dec, 2021 at 9:30pm
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim maiores
                                    adipisci optio ex, laboriosam facilis non pariatur itaque illo sunt?</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="write-comment">
                <div class="write-comment-title">
                    <h5>Leave A Reply</h5>
                    <p>Your email address will not be published. Required fields are marked *</p>
                </div>
                <form action="">
                    <label>comment</label>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Write a comment"></textarea>
                    <div class="information-user-comment">
                        <div class="name-user-comment">
                            <label>Name</label><br>
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="email-user-comment">
                            <label>Email</label><br>
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="Website-user-comment">
                            <label>Website</label><br>
                            <input type="text" placeholder="Website">
                        </div>
                    </div>
                    <input class="btn-submit" type="submit" name="" value="Post Comment">
                </form>
            </div>
            <div class="related-post">
                <h3>BẢN TIN LIÊN QUAN</h3>
                <div class="news-main">
                    <div class="news-content">
                        <div class="news-img">
                            <img src="../assets/img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="news-title">
                            <p>TIÊU ĐỀ BẢN TIN</p>
                        </div>
                        <div class="time-poster">
                            <div class="news-time">
                                <i class="fa fa-calendar"></i><span>Aug 05 2021</span>
                            </div>
                            <div class="poster">
                                <i class="fa fa-user"></i><span>Admin</span>
                            </div>
                        </div>
                        <div class="news-description">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. ...
                            </span>
                        </div>
                        <div class="read-more">
                            <a href="#"><span>Đọc Thêm</span></a>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="news-img">
                            <img src="../assets/img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="news-title">
                            <p>TIÊU ĐỀ BẢN TIN</p>
                        </div>
                        <div class="time-poster">
                            <div class="news-time">
                                <i class="fa fa-calendar"></i><span>Aug 05 2021</span>
                            </div>
                            <div class="poster">
                                <i class="fa fa-user"></i><span>Admin</span>
                            </div>
                        </div>
                        <div class="news-description">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. ...
                            </span>
                        </div>
                        <div class="read-more">
                            <a href="#"><span>Đọc Thêm</span></a>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="news-img">
                            <img src="../assets/img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="news-title">
                            <p>TIÊU ĐỀ BẢN TIN</p>
                        </div>
                        <div class="time-poster">
                            <div class="news-time">
                                <i class="fa fa-calendar"></i><span>Aug 05 2021</span>
                            </div>
                            <div class="poster">
                                <i class="fa fa-user"></i><span>Admin</span>
                            </div>
                        </div>
                        <div class="news-description">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. ...
                            </span>
                        </div>
                        <div class="read-more">
                            <a href="#"><span>Đọc Thêm</span></a>
                        </div>
                    </div>
                    <div class="news-content">
                        <div class="news-img">
                            <img src="../assets/img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="news-title">
                            <p>TIÊU ĐỀ BẢN TIN</p>
                        </div>
                        <div class="time-poster">
                            <div class="news-time">
                                <i class="fa fa-calendar"></i><span>Aug 05 2021</span>
                            </div>
                            <div class="poster">
                                <i class="fa fa-user"></i><span>Admin</span>
                            </div>
                        </div>
                        <div class="news-description">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. ...
                            </span>
                        </div>
                        <div class="read-more">
                            <a href="#"><span>Đọc Thêm</span></a>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </main>
    <footer>
    <div  class="footer-container">
        <div class="footer-title">
            <p>JOIN OUR NEWSLETTER</p>
            <form>
                <input type="email" class="news-field" id="mc-email" autocomplete="off"
                    placeholder="Enter your email address">
                <button class="news-btn" id="mc-submit">Subscribe</button>
            </form>
            <h6>To get the latest news from us please subscribe your email.</h6>
        </div>
        <div class="footer-main">
            <div class="footer-category">
                <h6>CUSTOM LINKS</h6>
                <ul class="usefull-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Returns & Exchanges</a></li>
                    <li><a href="#">Size Guide</a></li>
                    <li><a href="#">Cart</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-category">
                <h6>PRODUCTS</h6>
                <ul class="usefull-links">
                    <li><a href="#">Prices drop</a></li>
                    <li><a href="#">New products</a></li>
                    <li><a href="#">Best sales</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Stores</a></li>
                </ul>
            </div>
            <div class="footer-category">
                <h6>OUR COMPANY</h6>
                <ul class="usefull-links">
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Legal Notice</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Secure payment</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
            <div class="footer-category">
                <h6>YOUR ACCOUNT</h6>
                <ul class="usefull-links">
                    <li><a href="#">Personal info</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Credit slips</a></li>
                    <li><a href="#">Addresses</a></li>
                    <li><a href="#">Stores</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-middle-area">
            <div class="footer-logo">
                <a href="index.html">
                    <img src="../assets/img/logo/logo.png" alt="Brand Logo">
                </a>
            </div>
            <div class="footer-contact">
                <i class="fa fa-map-marker"></i>
                <p><span>ADDRESS : </span> Your address goes here</p>

            </div>
            <div class="footer-contact">
                <i class="fa fa-envelope"></i>
                <p><span>EMAIL : </span>demo@examplecom</p>
            </div>
            <div class="footer-contact">
                <i class="fa fa-phone"></i>
                <p><span>PHONE : </span>0123456789</p>
            </div>
        </div>
        <div class="footer-payment">
            <div class="payment">
                <img src="../assets/img/payment-2.png" alt="payment method">
            </div>
            <div class="footer-link">
                <a href="#">SITE MAP</a>
                <a href="#">SEARCH TERMS</a>
                <a href="#">ADVANCED SEARCH</a>
                <a href="#">ORDERS AND RETURNS</a>
                <a href="#">CONTACT US</a>
            </div>
            <div class="copyright">
                <p>© 2021 <b >Pullman</b> Made with <i class="fa fa-heart text-danger"></i> by <a
                        href="https://hasthemes.com/">HasThemes</a></p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>