<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/css.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="header">
                
                <div class="information">
                    <div class="contact">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-pinterest"></i>
                    </div>

                    <div class="menu-header">
                        <i class="fa fa-user-circle"></i>
                        <a href="#"><span>My Account</span></a>
                        <i class="fa fa-credit-card"></i>
                        <a href="#"><span>Checkout</span></a>
                        <i class="fa fa-sign-in"></i>
                        <a href="#"><span>Sign in</span></a>
                    </div>
                </div>
            </div>
            <div class="logo-phone">
                <div class="logo">
                    <img src="../assets/img/logo/logo-2.png" alt="">
                </div>

                <div class="phone">
                    <div class="phone-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="my-phone">
                        <p>PHONE:</p>
                        <span>0123456789</span>
                    </div>
                </div>
                <div class="search">
                    <input type="text" placeholder="Search Our Catalog">
                    <button><i class="fa fa-search"></i></button>
                </div>
                <div class="cart">
                    <button><i class="fa fa-cart-plus	"></i></button>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">HOME <i class="fa fa-angle-down "></i></a></li>
                    <li><a href="#">PAGE <i class="fa fa-angle-down "></i></a></li>
                    <li><a href="#">SHOP <i class="fa fa-angle-down "></i></a></li>
                    <li><a href="#">BLOG <i class="fa fa-angle-down "></i></a></li>
                    <li><a href="#">CONTACT US </a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="category-banner">
                <div class="cat">
                    <h3>CATEGORIES</h3>
                    <ul>
                        <li><a href="#">danh mục</a></li>
                        <li><a href="#">danh mục</a></li>
                        <li><a href="#">danh mục</a></li>
                        <li><a href="#">danh mục</a></li>
                        <li><a href="#">danh mục</a></li>
                        <li><a href="#">danh mục</a></li>
                        <li><a href="#">danh mục</a></li>
                        <li><a href="#">danh mục</a></li>
                        <li><a href="#">danh mục</a></li>
                    </ul>
                </div>
                <div class="banner">
                    <img src="../assets/img/slider/home6-slide1.jpg" alt="">
                    <!-- <div class="banner-content">
                        <p>Calzature LOUIS</p>
                        <span>Sneaker Archlight</span>
                        <button>Shop Now</button>
                    </div> -->
                </div>
            </div>
            <div class="voucher">
                <img src="../assets/img/banner/cms_3.1.jpg" alt="">
                <img src="../assets/img/banner/cms_3.2.jpg" alt="">
                <img src="../assets/img/banner/cms_3.3.jpg" alt="">
            </div>
            <div class="main-content">
                <div class="main-content-tittle">
                    <h3>DEAL OF THE DAYS</h3>
                    <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas est etiam processus dynamicus, qui sequitur mutationem.</p>
                </div>
            </div>
            <div class="main-product">
                <div class="product-salient">
                    <div class="product-img">
                        <img src="../assets/img/product/product-1.jpg" alt="">
                    </div>
                    <div class="product-infor">
                        <div class="product-name">
                            <p> tên sản phẩm</p>
                        </div>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <div class="price-buy">
                            <div class="product-price"><span>70.000</span><span>VNĐ</span></div>
                            <button>Add To Cart</button>
                        </div>
                    </div>
                </div>                   
                <div class="product-salient">
                    <div class="product-img">
                        <img src="../assets/img/product/product-1.jpg" alt="">
                    </div>
                    <div class="product-infor">
                        <div class="product-name">
                            <p>tên sản phẩm</p>
                        </div>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <div class="price-buy">
                            <div class="product-price"><span>70.000</span><span>VNĐ</span></div>
                            <button>Add To Cart</button>
                        </div>
                    </div>
                </div>           
            </div>
            <div class="new-arrival-product">
                <div class="new-arrival-title">
                    <h4>NEW ARRIVALS PRODUCTS</h4>
                    <span>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas est etiam processus dynamicus, qui sequitur mutationem.</span>
                </div>
                <div class="new-arrival-content">
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="#">
                                <img src="../assets/img/product/product-1.jpg" alt="product thumb">
                            </a>
                            <div class="button-group">
                                <a href="#"><span><i class="fa fa-heart-o"></i></span></a>
                               <a href="#"><span><i class="fa fa-eye"></i></span></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-caption">
                                <h6 class="product-name">
                                    <a href="#">Quickiin Mens shoes</a>
                                </h6>
                                <div class="price-box">
                                    <span class="price-old"><del>$90.00</del></span>
                                    <span class="price-regular">$70.00</span>
                                </div>
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="ratings">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="#">
                                <img src="../assets/img/product/product-1.jpg" alt="product thumb">
                            </a>
                            <div class="button-group">
                                <a href="#"><span><i class="fa fa-heart-o"></i></span></a>
                               <a href="#"><span><i class="fa fa-eye"></i></span></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-caption">
                                <h6 class="product-name">
                                    <a href="#">Quickiin Mens shoes</a>
                                </h6>
                                <div class="price-box">
                                    <span class="price-old"><del>$90.00</del></span>
                                    <span class="price-regular">$70.00</span>
                                </div>
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="ratings">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="#">
                                <img src="../assets/img/product/product-1.jpg" alt="product thumb">
                            </a>
                            <div class="button-group">
                                <a href="#"><span><i class="fa fa-heart-o"></i></span></a>
                               <a href="#"><span><i class="fa fa-eye"></i></span></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-caption">
                                <h6 class="product-name">
                                    <a href="#">Quickiin Mens shoes</a>
                                </h6>
                                <div class="price-box">
                                    <span class="price-old"><del>$90.00</del></span>
                                    <span class="price-regular">$70.00</span>
                                </div>
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="ratings">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-sale">
                <img src="../assets/img/banner/cms_4.png" alt="">
                <div class="banner-sale-content">
                    <h2>Sale</h2>
                    <p>Rexoo Mens shoes</p>
                    <span>Investigationes demonstraverunt lectores legere</span>
                    <button>Shop Now</button>
                </div>
            </div>
            <div class="categories">
                <div class="categories-title">
                    <h4>SHOP BY CATEGORIES PULLMAN</h4>
                    <span>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas est etiam processus dynamicus, qui sequitur mutationem.</span>
                </div>
                <div class="categories-main">
                    <div class="cate-content">
                        <div class="name-cate">tên danh mục</div>
                        <div class="cate-img">
                            <img src="../assets/img/category/category-1.png" alt="">
                        </div>
                        <button>xem chi tiết</button>
                    </div>
                    <div class="cate-content">
                        <div class="name-cate">tên danh mục</div>
                        <div class="cate-img">
                            <img src="../assets/img/category/category-1.png" alt="">
                        </div>
                        <button>xem chi tiết</button>
                    </div>
                    <div class="cate-content">
                        <div class="name-cate">tên danh mục</div>
                        <div class="cate-img">
                            <img src="../assets/img/category/category-1.png" alt="">
                        </div>
                        <button>xem chi tiết</button>
                    </div>
                </div>
            </div>
            <div class="product-sale">
                <div class="product-sale-tittle">
                    <h3>OUR IN STORE</h3>
                    <span>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas est etiam processus dynamicus, qui sequitur mutationem.</span>
                </div>
                <div class="product-sale-content">
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="#">
                                <img src="../assets/img/product/product-1.jpg" alt="product thumb">
                            </a>
                            <div class="button-group">
                                <a href="#"><span><i class="fa fa-heart-o"></i></span></a>
                               <a href="#"><span><i class="fa fa-eye"></i></span></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-caption">
                                <h6 class="product-name">
                                    <a href="#">Quickiin Mens shoes</a>
                                </h6>
                                <div class="price-box">
                                    <span class="price-old"><del>$90.00</del></span>
                                    <span class="price-regular">$70.00</span>
                                </div>
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="ratings">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="#">
                                <img src="../assets/img/product/product-1.jpg" alt="product thumb">
                            </a>
                            <div class="button-group">
                                <a href="#"><span><i class="fa fa-heart-o"></i></span></a>
                               <a href="#"><span><i class="fa fa-eye"></i></span></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-caption">
                                <h6 class="product-name">
                                    <a href="#">Quickiin Mens shoes</a>
                                </h6>
                                <div class="price-box">
                                    <span class="price-old"><del>$90.00</del></span>
                                    <span class="price-regular">$70.00</span>
                                </div>
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="ratings">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="#">
                                <img src="../assets/img/product/product-1.jpg" alt="product thumb">
                            </a>
                            <div class="button-group">
                                <a href="#"><span><i class="fa fa-heart-o"></i></span></a>
                               <a href="#"><span><i class="fa fa-eye"></i></span></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-caption">
                                <h6 class="product-name">
                                    <a href="#">Quickiin Mens shoes</a>
                                </h6>
                                <div class="price-box">
                                    <span class="price-old"><del>$90.00</del></span>
                                    <span class="price-regular">$70.00</span>
                                </div>
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="ratings">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="#">
                                <img src="../assets/img/product/product-1.jpg" alt="product thumb">
                            </a>
                            <div class="button-group">
                                <a href="#"><span><i class="fa fa-heart-o"></i></span></a>
                               <a href="#"><span><i class="fa fa-eye"></i></span></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-caption">
                                <h6 class="product-name">
                                    <a href="#">Quickiin Mens shoes</a>
                                </h6>
                                <div class="price-box">
                                    <span class="price-old"><del>$90.00</del></span>
                                    <span class="price-regular">$70.00</span>
                                </div>
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="ratings">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="#">
                                <img src="../assets/img/product/product-1.jpg" alt="product thumb">
                            </a>
                            <div class="button-group">
                                <a href="#"><span><i class="fa fa-heart-o"></i></span></a>
                               <a href="#"><span><i class="fa fa-eye"></i></span></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-caption">
                                <h6 class="product-name">
                                    <a href="#">Quickiin Mens shoes</a>
                                </h6>
                                <div class="price-box">
                                    <span class="price-old"><del>$90.00</del></span>
                                    <span class="price-regular">$70.00</span>
                                </div>
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="ratings">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="#">
                                <img src="../assets/img/product/product-1.jpg" alt="product thumb">
                            </a>
                            <div class="button-group">
                                <a href="#"><span><i class="fa fa-heart-o"></i></span></a>
                               <a href="#"><span><i class="fa fa-eye"></i></span></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="product-caption">
                                <h6 class="product-name">
                                    <a href="#">Quickiin Mens shoes</a>
                                </h6>
                                <div class="price-box">
                                    <span class="price-old"><del>$90.00</del></span>
                                    <span class="price-regular">$70.00</span>
                                </div>
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="ratings">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div  class="footer-container">
                <div class="footer-title">
                    <p>JOIN OUR NEWSLETTER</p>
                    <form>
                        <input type="email" class="news-field" id="mc-email" autocomplete="off"
                            placeholder="Enter your email address">
                        <button class="news-btn" id="mc-submit">Subscribe</button>
                    </form>
                    <h6>To get the latest news from us please subscribe your email.</h6>
                </div>
                <div class="footer-main">
                    <div class="footer-category">
                        <h6>CUSTOM LINKS</h6>
                        <ul class="usefull-links">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Returns & Exchanges</a></li>
                            <li><a href="#">Size Guide</a></li>
                            <li><a href="#">Cart</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="footer-category">
                        <h6>PRODUCTS</h6>
                        <ul class="usefull-links">
                            <li><a href="#">Prices drop</a></li>
                            <li><a href="#">New products</a></li>
                            <li><a href="#">Best sales</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Stores</a></li>
                        </ul>
                    </div>
                    <div class="footer-category">
                        <h6>OUR COMPANY</h6>
                        <ul class="usefull-links">
                            <li><a href="#">Delivery</a></li>
                            <li><a href="#">Legal Notice</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Secure payment</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="footer-category">
                        <h6>YOUR ACCOUNT</h6>
                        <ul class="usefull-links">
                            <li><a href="#">Personal info</a></li>
                            <li><a href="#">Orders</a></li>
                            <li><a href="#">Credit slips</a></li>
                            <li><a href="#">Addresses</a></li>
                            <li><a href="#">Stores</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-middle-area">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="../assets/img/logo/logo.png" alt="Brand Logo">
                        </a>
                    </div>
                    <div class="footer-contact">
                        <i class="fa fa-map-marker"></i>
                        <p><span>ADDRESS : </span> Your address goes here</p>

                    </div>
                    <div class="footer-contact">
                        <i class="fa fa-envelope"></i>
                        <p><span>EMAIL : </span>demo@examplecom</p>
                    </div>
                    <div class="footer-contact">
                        <i class="fa fa-phone"></i>
                        <p><span>PHONE : </span>0123456789</p>
                    </div>
                </div>
                <div class="footer-payment">
                    <div class="payment">
                        <img src="../assets/img/payment-2.png" alt="payment method">
                    </div>
                    <div class="footer-link">
                        <a href="#">SITE MAP</a>
                        <a href="#">SEARCH TERMS</a>
                        <a href="#">ADVANCED SEARCH</a>
                        <a href="#">ORDERS AND RETURNS</a>
                        <a href="#">CONTACT US</a>
                    </div>
                    <div class="copyright">
                        <p>© 2021 <b >Pullman</b> Made with <i class="fa fa-heart text-danger"></i> by <a
                                href="https://hasthemes.com/">HasThemes</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>