*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Nunito Sans', sans-serif;
}
html a{
    text-decoration: none;
}
.container{
    width: 100%;
    margin: auto;
}
.containers{
    text-align: center;
}
.header{
    color: #999;
    height: 40px;
    background-color: #222222;
}
.information{
    display: flex;
    justify-content: space-between;
    margin-left: 17%;
    margin-right: 19%;
}
.contact i{
    margin-top: 10px;
    margin-left: 17px;
    font-size: 20px;
}
.menu-header i{
    margin-top: 10px;
    margin-right: 5px;
    font-size: 17px;
}
.menu-header span{
    margin-right: 15px;
    font-size: 13px;
}
.menu-header a{
    /* text-decoration: none; */
    color: #999;
}
.menu-header a :hover{
    color: white;
}
.logo-phone{
    display: flex;
    margin-top: 20px;
    margin-left: 17%;
}
.phone{
    margin-left: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.phone-icon{
    text-align: right;
    font-size: 40px;
    color: #87b106;
}
.my-phone p{
    font-size: 14px;
    font-weight: 900px;
    color: #999;
}
.my-phone span{
    font-size: 24px;
    font-weight: 900;
    padding-top: 5px;
    color: #87b106;
}
.search{
    margin-left: 185px;
    width: 350px;
    height: 50px;
    border: 1px solid #999;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}
.search input{
    width: 300px;
    /* border: 1px solid #999; */
    /* margin-left: 185px; */
    padding-left: 20px;
    color: #6b6262;
    border: none;
    border-radius: 30px 0 0 30px;
}
.search button{
    width: 50px;
    border-radius: 0 30px 30px 0;
    background-color: #87b106;
    font-size: 20px;
    border: none;
    color: white;
}
.cart button{
    border: none;
    border-radius: 40px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    color: white;
    background-color: #87b106;
    padding: 7px;
    margin-left: 80px;
}
.menu{
    margin-top: 20px;
    border: 1px solid #999;
    border-left: none;
    border-right: none;
    padding-bottom: 20px;
    padding-left: 17%;
}
.menu ul{
    display: flex;
}
.menu ul li {
    list-style: none;
    margin-left: 25px;
    margin-top: 20px;
}
.menu ul li a{
    font-size: 20px ;
    font-weight: 500;
    /* text-decoration: none; */
    color: black;
}
.menu ul li a:hover{
    text-decoration:underline;
}
.category-banner{
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    margin-top: 30px;
}
.cat{
    width: 270px;
}
.cat h3{
    padding-top: 15px;
    height: 57px;
    padding-left: 15px;
    font-weight: 900px;
    background-color: #87b106;
    color: #ffffff;
}
.cat ul{
    border:  1px solid #e5e5e5;
}
.cat ul li{
    text-align: left;
    width: 200px;
    list-style: none;
    line-height: 50px;
    margin-left: 30px;
    border-top:  1px solid #e5e5e5;

}
.cat ul li a{
    /* text-decoration: none; */
    color: black ;
}
.cat ul li a:hover{
    text-decoration: underline;
}
.banner{
    margin-right: 346px;
}
.banner-content{
    
    margin-top: -406px;
    margin-left: 50px;
}
.banner-content h4{
    font-size: 25px;
    font-weight: 900;
}
.voucher img{
    margin: 30px 10px;
}
main{
    max-width:100%;
    margin-top: 40px;
    margin: auto;
}
.main-content{
    /* text-align: center; */
    margin-top: 30px;
    width: 1200px;
    margin: auto;
}

.main-content-tittle h3{
    font-weight: 900;
    margin-bottom: 14px;
    font-size: 25px;
}
.main-content-tittle p{
    color: #777777;
    font-size: 15px;
    max-width: 560px;
    margin-left: 29%;
    line-height: 20px;
}
.main-product{
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-top: 30px;
}
.product-salient img{
    width: 100%;
    height: 100%;
}
.product-infor{
    padding-bottom: 10px;
    margin-top: -4px;
    border: 1px solid #e5e5e5;
    padding-left: 20px;
}
.product-name{
    font-weight: 600;
    color: #555555;
    padding: 20px 0 10px 0;
    font-size: 30px;
}
.product-infor i{
    font-size: inherit;
    color: #555555;
}
.price-buy{
    display: flex;
    justify-content: space-between;
}
.product-price{
    font-size: 30px;
    margin-top: 10px;
    color: #d26b31;
    font-weight: 900;
    
}
.product-infor button{
    margin-right: 50px;
    width: 200px;
    height: 50px;
    background-color: black;
    color: #ffffff;
    font-size: 20px;
    border-radius: 50px;
}
.new-arrival-product{
    padding-bottom: 50px;
    background-image: url(../img/bg/bg-testimonial.jpg);
}
.new-arrival-title{
    width: 1200px;
    margin: auto;
}
.new-arrival-title h4{
    font-size: 25px;
    color: #fff;
    font-weight: 800;
    margin-top: 50px;
    padding-top: 30px;
}
.new-arrival-title span{
    display: inline-block;
    font-size: 20px;
    color: #777777;
    margin: 20px 250px;
}
.new-arrival-content{
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 32px;
    margin-bottom: 50px
}
.banner-sale{
    width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 40px;
}
.banner-sale img{
    max-width: 570px;
    height: 465px;
}
.banner-sale-content{
    margin-left: 20px;
}
.banner-sale-content h2{
    font-size: 120px;
    font-weight: 400;
    margin: 50px 0 10 ;
    color: #87b106;
}
.banner-sale-content p{
    font-size: 60px;
    font-weight: 500;
}
.banner-sale-content span{
    display: block;
    color: #777;
    font-weight: 400;
    padding: 20px 0 30px 0; 
}
.banner-sale-content button{
    font-size: 20px;
    font-weight: 500;
    width: 150px;
    height: 50px;
    background-color: #87b106;
    color: #ffffff;
    border-radius: 30px;
    border: none;
}
.banner-sale-content :hover button{
    background-color: black;
}
.categories{
    height: 675px;
    margin-top: 50px;
    background-image: url(../img/bg/bg-listcate.jpg);
    padding-top: 60px;
    margin-bottom: 100px;
}
.categories-title{
    width: 1200px;
    margin: auto;
    color: #fff;
}
.categories-title h4{
    font-size: 20px;
    font-weight: 800;
}
.categories-title span{
    font-size: 17px;
    display: inline-block;
    margin: 30px 300px;
    line-height: 25px;
}
.categories-main{
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cate-content{
    background-image: url(../img/category/cat-bg.jpg);
}
.name-cate{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #ffffff;
}
.categories-main button{
    width: 200px;
    height: 40px;
    margin-top: 50px;
    border: none;
    border-radius: 20px;
    background-color: #3e3e3e;
    color: #fff;
    font-size: 20px;
}
.categories-main :hover{
    background-image: url(../img/category/cat-hover.jpg);
}
.cate-content{
    width: 370px;
    height: 557px;
}

.product-sale{
    width: 1200px;
    margin: auto;
    padding-bottom: 74px;
    border-bottom: 1px solid #999999;
}
.product-sale-tittle{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.product-sale-tittle h3{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}
.product-sale-tittle span{
    font-size: 17px;
    color: #777777;
}
.product-sale-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 32px;
    padding-left: 5px;
}
.product-item img{
    width: 100%;
}
.product-content{
    background-color: #ffffff;
    padding-bottom: 10px;

}
.product-item {
    border: 1px solid #e5e5e5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .product-item:hover {
    -webkit-box-shadow: 0 5px 20px 0 rgba(195, 195, 195, 0.6);
            box-shadow: 0 5px 20px 0 rgba(195, 195, 195, 0.6);
  }
  .product-item:hover .button-group {
    opacity: 1;
    visibility: visible;
  }
  .product-item:hover .button-group a {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
.product-caption{
    margin-left: 10px;
}
.product-name a{
    /* text-decoration: none; */
    font-size: 17px;
    color: #555555;
}
.price-box{
    margin-top: 10px;
    font-size: 16px
}
.price-old{
    color: #999;
    font-weight: 400;
}
.price-regular{
    color: #d26b31;
    font-weight: 700;
    margin-left: 5px;
}
.add-to-cart {
    color: #fff;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    background-color: #87b106;
    border-radius: 50%;
    font-size: 18px;
    position: absolute;
    margin-left: 280px;
    margin-top: -25px;
}
.add-to-cart :hover i{
    cursor: pointer;
}
.ratings{
    margin-left: 10px;
    margin-top: 10px;
}
.ratings :hover i{
    color: yellow;
}
.button-group {
    left: 10px;
    bottom: 0;
    margin-top: -40px;
    position:relative;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
} 
.button-group a {
    width: 36px;
    height: 36px;
    display: inline-block;
    font-size: 18px;
    line-height: 38px;
    color: #777777;
    text-align: center;
    border: 1px solid #e5e5e5;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.button-group a:hover {
    color: #fff;
    background-color: #87b106;
}
.detail-banner{
    text-align: center;
    padding-bottom: 20px;
    color: #ffffff;
    padding-top: 40px;
    margin-top: -2px;
    background-image: url(../img/banner/shop.jpg);
}
.detail-banner p{
    margin-bottom: 10px;
    font-weight: 700;
}
.detail-banner a{
    margin: 0 10px;
    color: #ffffff;
}
.detail-banner a:hover{
    color: #a1c92b;
}
.product-detail{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.product-detail-infor{
    width: 300px;
    text-align: left;
}
.product-detail-name p{
    font-size: 25px;
    margin-bottom: 15px;
    color: #555555;
}
.detail-star{
    font-size: 16px;
    color: #555555;
    margin-bottom: 15px;
}
.product-detail-price del{
    font-size: 15px;
    margin-right: 10px;
    color: #999;
}
.product-detail-price span{
    font-size: 20px;
    font-weight: 600;
    color: #d26b31;
}
.number-in-stock{
    margin-top: 15px;
    font-size: 15px;
    color: #555555;
    margin-bottom: 15px;
}
.detail-des{
    font-size: 15px;
    color: #555555;
    margin-bottom: 15px;
}
.quantity{
    display: flex;
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.quantity-input input{
    padding: 0 10px;
    margin: 0 10px;
    width: 50px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 10px;
    padding-right: 10px;
}
.quantity-buy button{
    font-weight: 600;
    width: 100px;
    height: 20px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    background-color: #a2c92d;
}
.detail-contact i {
    margin-right: 10px;
}
.detail-comment{
    margin: 40px 0;
}
.detail-comment-title{
    color: #222222;
    margin-bottom: 20px;
}
.detail-comment form{
    margin-top: 40px;
    border: 1px solid #999;
    width: 1200px;
    margin: auto;
    text-align: left;
    padding: 10px ;
}
.detail-comment-name input ,.detail-comment-email input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding-left: 10px;
    border:1px solid #999;
}
.detail-comment form textarea{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border:1px solid #999;
}
.detail-rating{
    display: flex;
}
.detail-rating input{
    margin-left: 10px;
}
.submit-review input{
    width: 100px;height: 50px;
    margin-top: 10px;
    background-color: #a1c92b;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.submit-review input:hover{
    background-color: #d26b31;
}
.related-product{
    width: 760px;
    margin: auto;
}
.related-product-title h3{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}
.related-product-title p{
    line-height: 20px;
    margin-bottom: 20px;
}
.product-list-title{
    text-align: left;
    margin: 30px 0;
    font-size: 25px;
    font-weight: 600;
}
footer{
    width: 100%;
    background-color: #1a1a1a;
    margin-top: 40px;
}
.footer-container{
    width: 1200px;
    margin: auto;
}
.footer-title{
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #2f2f2f;
}
.footer-title p{
    padding-top: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
}
.footer-title form input{
    width: 400px;
    height: 50px;
    border: 1px solid #959595;
    background-color: #262626;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.footer-title form button{
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #a2c92d;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 10px;
}
.footer-title h6{
    color: #999999;
    font-size: 13px;
}
.footer-main{
    border-bottom: 1px solid #2f2f2f;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
}
.footer-category h6{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
}
.footer-category ul{
    list-style: none;
}
.footer-category ul li a{
    color: #999999;
    line-height: 30px;
    font-size: 15px;
}
.footer-category ul li a:hover{
    padding-left: 10px;
    color: #87b106;
}
.footer-middle-area{
    display: flex;
    margin-top: 30px;
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 30px;
}
.footer-logo{
    border-right: 4px solid #ffffff;
    padding-right: 20px;
    margin-right: 20px;
}
.footer-contact{
    display: flex;
    font-size: normal;
    margin-top: 15px;
    margin-right: 90px;
}
.footer-contact p{
    color: #999999;
}
.footer-middle-area i{
    color: #87b106;
    font-size: 25px;
    margin-right: 10px;
}
.footer-payment{
    text-align: center;
    margin-top: 30px;
}
.footer-link a{
    display:inline-block;
    color: #999999;
    margin-top: 20px;
    margin-right: 20px;
}
.footer-link a:hover{
    color: #87b106;
}
.copyright{
    margin-top: 30px;
    color: #999999;
}
.copyright b{
    color: white;
    font-weight: 500;
}
.copyright i{
    color: red;
}
.container-shared{
    width: 1200px;
    margin: auto;
}
.blog-title h2{
    margin-top: 40px;
    font-size: 25px;
}
.news-main{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
}
.news-content{
    padding: 40px;
    text-align: left;
    box-shadow: 0 0 10px 0 rgb(195 195 195 / 60%);
    background-color: #ffffff;
}
.news-img img{
    width: 290px;
    height: 203px;
}
.news-title p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.news-title p:hover{
    color: #87b106;
}
.time-poster{
    color: #87b106;
    margin: 5px;
    display: flex;
}
.news-time{
    margin-right: 15px;
}
.time-poster i{
    margin-right: 5px;
}
.news-description{
    font-size: 16px;
    color: #555555;
    line-height: 25px;
}
.read-more {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: #87b106;
}
.read-more span{
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
}
.read-more:hover{
    background-color: #222222;
}
.news-detail-content{
    text-align: left;
    margin-top: 100px;
    padding: 40px;
    box-shadow: 0 0 10px 0 rgb(195 195 195 / 60%);
}
.news-detail-content img{
    width: 100%;
}
.news-detail-title{
    font-size: 30px;
    margin-top: 40px
}
.news-detail-time{
    margin-top: 20px;
    font-size: 20px;
    color: #555555;
}
.news-detail-description{
    padding: 40px;
    box-shadow: 0 0 10px 0 rgb(195 195 195 / 60%);
    margin-top: 30px;
    color: #555555;
    font-size: 23px;
}
.tag{
    margin-top: 30px;
}
.tag h4{
    display: inline;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}
.tag a{
    color: #222222;
    font-size: 18px;
}
.tag a:hover{
    color: #87b106;
}
.share{
    margin-top: 30px;
}
.share i{
    margin-right: 15px;
    font-size: 20px;
    color: #222222;
}
.news-detail-comment{
    padding: 40px;
    margin-top: 80px;
    box-shadow: 0 0 10px 0 rgb(195 195 195 / 60%);
}
.news-detail-comment li {
    display: flex;
    margin-top: 20px;
    list-style: none;
    border: 1px solid #e5e5e5;
}
.number-comment{
    text-align: left;
}
.number-comment h4{
    font-size: 25px;
    font-size: 700;
}
.comment-logo{
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 100%;
    max-width: 66px;
    height: 62px;
}
.comment-body{
    text-align: left;
    margin-left: 20px
}
.reply-btn a{
    float: right;
    width: 100px;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 40px;
    margin-top: 20px;
    margin-right: 30px;
    display: block;
    color: #555555;
    padding-top: 7px;
    text-align: center;
}

.reply-btn a:hover{
    background-color: #87b106;
    color: #ffffff;
}
.comment-user{
    font-size: 20px;
    margin-top: 20px;
}
.comment-time{
    color: #555555;
    margin-top: 10px;
    font-size: 17px;
}
.comment-body p{
    font-size: 20px;
    margin-top: 20px;
    line-height: 25px;
    color: #555555;
    margin-bottom: 20px;
}
.rep-comment{
    margin-left: 40px;
    margin-top: 30px;
}
.write-comment{

    text-align: left;
    padding: 40px;
    margin-top: 80px;
    box-shadow: 0 0 10px 0 rgb(195 195 195 / 60%);
}
.write-comment-title h5{
    font-size: 30px;
}
.write-comment-title p {
    margin-top:20px;
    color: #555555;
    font-size: 20px;
    margin-bottom: 10px;
}
form label{
    font-size: 25px;
    color:#222222 ;
    margin-bottom: 5px;
}
.write-comment form textarea{
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border: none;
    background-color: #f8f8f8;
}
.information-user-comment{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
}
.information-user-comment input{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: none;
    background-color: #f8f8f8;
    font-size: 20px;
    padding: 10px;
}
.btn-submit{
    width: 160px;
    height: 42px;
    background-color: #87b106;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    border: none;
    margin-top: 30px;
}
.related-post h3{
    font-size: 25px;
    margin-top: 40px;
}